#password_forgot

  div(
    ng-show="showRequestForm"
  )
    h2 We are sorry you are having troubling signing in
    
    h3 Fill our the form below to request to have a password reset link sent to your email
    
    form
      input(
        ng-model="user.email"
        placeholder="email"
      )
      br
      button.btn-primary(
        ng-click="requestNewPassword()"
      ) Request New Password
  
  div(
    ng-show="!showRequestForm"
  ) 
    h3 Please check your email account for a message from us with a reset password link.  
    
