.center
  h1(
    ng-if="!done"
  ) Now, let's upload {{name}}'s banner photo
  
  div.uploading(
    ng-if="uploading && !done"
  ) 
    | We are uploading your banner image now!
    br
    | {{percent}}%
    
  div.uploading(
    ng-if="done"
  )
    | Your image has been uploaded!
    br
    br
    | Don't worry, you can change it later

  button.btn.btn-primary.btn-circle(
    ngf-select="upload($file)"
    ng-if="!uploading && !done"
  ) 
    i.fa.fa-upload
    br
    | {{name}}'s 
    br
    | Banner Photo
