
html
  head
    title My Dog Lacy!
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Abel|Karla|Monda|Roboto:100,300,400', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Shadows+Into+Light|Coming+Soon|Shadows+Into+Light+Two|Crafty+Girls|Alegreya+Sans+SC:400,300', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Shadows+Into+Light|Coming+Soon|Shadows+Into+Light+Two|Crafty+Girls|Alegreya+Sans+SC:400,300', type='text/css')
    link(rel='stylesheet', href='app.css')
    script(src="https://checkout.stripe.com/checkout.js")
    script(src='app.js')
    script(src='templates.js')
    base(href="/")
    
  body(
    ng-app='mydoglacy'
  )
    #fb-root
    div(ui-view="main")
    
    div(
      ng-controller="HollaBackCtrl"
    )
      a(
        ng-href="{{path}}/applications/{{applicationId}}/features?t={{token}}"
        target="_blank"
      ) Holla Back!
    
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77135326-2', 'auto');
    ga('require', 'cleanUrlTracker');
    ga('require', 'eventTracker');
    ga('require', 'urlChangeTracker');
    ga('send', 'pageview');
    
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=666547290170574";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  script.
    window.STRIPE = StripeCheckout.configure({
      key: 'pk_test_VSOl2a32ywHvrzNjzQfxTFBD',
      locale: 'auto',
      token: function(token) {
        console.log(token);
        // You can access the token ID with `token.id`.
        // Get the token ID to your server-side code for use.
      }
    });
    
  script(
    type="text/javascript" 
    src="https://platform.twitter.com/widgets.js"
  )
    
  script(
    type="text/javascript"
    src="//assets.pinterest.com/js/pinit.js"
  )

    // Close Checkout on page navigation:
    //- $(window).on('popstate', function() {
    //-   window.STRIPE.close();
    //- });
