#page(
  ng-class="{'blur': showEditModal}"
)  
  .container.first
    
    .row(
      ng-if="page.layouts.main === 0"
    )
      .col-md-6
        .image
          btnupload.hero(
            save="save()"
            image="page.banner"
          )
        .name
          span(
            ng-show="!editing.name"
          ) {{page.pet.name}}
          input(
            ng-show="editing.name"
            ng-model="page.pet.name"
          )
          btnedit(
            save="save()"
            editing="editing.name"
          )
          
        .date 
          span(
            ng-show="!editing.date"
          ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}}
          input(
            ng-show="editing.date"
            ng-model="page.pet.date_of_birth"
          )
          btnedit(
            save="save()"
            editing="editing.date"
          )
          
        .biography
          p(
            ng-show="!editing.biography"
            ng-bind-html="page.biography"
          )
          text-angular(
            ng-show="editing.biography"
            ng-model="page.biography"
            ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
          )
          btnedit(
            save="save()"
            editing="editing.biography"
          )
          
      .col-md-6
      
      
    
    .row(
      ng-if="page.layouts.main === 1"
    )
      div(
        style="text-align: center;"
      )
        .name(
          style="color: black;"
        ) {{page.pet.name}}
        
        div(
          style="border-radius: 50%; width: 400px; height: 400px; display: inline-block; background-position: -250px 0px; background-repeat: no-repeat; background-size: cover; background-image: url('{{page.banner}}')"
        )
        
        .date(
          style="color: black;"
        ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}}
        
    .row(
      ng-if="page.layouts.main === 2"
    )
      .col-md-6
        div(
          style="border-radius: 50%; width: 400px; height: 400px; display: inline-block; background-position: -250px 0px; background-repeat: no-repeat; background-size: cover; background-image: url('{{page.banner}}')"
        )
        
      .col-md-6
        .name(
          style="color: black;"
        ) {{page.pet.name}}
        
        .date(
          style="color: black;"
        ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}}
      
        p(
          ng-show="!editing.biography"
          ng-bind-html="page.biography"
        )
        
    .row(
      ng-if="page.layouts.main === 3"
    )
      .col-md-6
        .name(
          style="color: black;"
        ) {{page.pet.name}}
        
        .date(
          style="color: black;"
        ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}}
      
        p(
          ng-show="!editing.biography"
          ng-bind-html="page.biography"
        )
        
      .col-md-6
        div(
          style="border-radius: 50%; width: 400px; height: 400px; display: inline-block; background-position: -250px 0px; background-repeat: no-repeat; background-size: cover; background-image: url('{{page.banner}}')"
        )
        
    .row(
      ng-if="page.layouts.main === 4"
    )
      .col-md-6
        div(
          style="padding-top: 50px;"
        )
          img(
            width="100%"
            height="auto"
            ng-src="{{page.banner}}"
          )
          
      .col-md-6
        .name(
          style="color: black;"
        ) {{page.pet.name}}
        
        .date(
          style="color: black;"
        ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}}
      
        p(
          ng-show="!editing.biography"
          ng-bind-html="page.biography"
        )
        
        
    .row(
      ng-if="page.layouts.main === 5"
    )
      .col-md-6
        .name(
          style="color: black;"
        ) {{page.pet.name}}
        
        .date(
          style="color: black;"
        ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}}
      
        p(
          ng-show="!editing.biography"
          ng-bind-html="page.biography"
        )
        
      .col-md-6
        div(
          style="padding-top: 50px;"
        )
          img(
            width="100%"
            height="auto"
            ng-src="{{page.banner}}"
          )
          
        
    .layouts(
      style="position: absolute; bottom: 20px; left: 20px; background-color: white;"
    )
      button(
        style="border: 1px solid black;"
        ng-click="page.layouts.main = 0"
      ) Layout A
      
      button(
        style="border: 1px solid black;"
        ng-click="page.layouts.main = 1"
      ) Layout B
      
      button(
        style="border: 1px solid black;"
        ng-click="page.layouts.main = 2"
      ) Layout C
      
      button(
        style="border: 1px solid black;"
        ng-click="page.layouts.main = 3"
      ) Layout D
      
      button(
        style="border: 1px solid black;"
        ng-click="page.layouts.main = 4"
      ) Layout E
      
      button(
        style="border: 1px solid black;"
        ng-click="page.layouts.main = 5"
      ) Layout F
        
        
  section(
    style="background-color: teal; border-top: 1px solid white; border-bottom: 1px solid white;"
  )
    .container.middle
      .row
        .col-md-6
          .image
            img(
              ng-src="{{page.imageA}}"
            )
            btnupload(
              save="save()"
              image="page.imageA"
            )
          .image
            img(
              ng-src="{{page.imageB}}"
            )
            btnupload(
              save="save()"
              image="page.imageB"
            )
          .image
            img(
              ng-src="{{page.imageC}}"
            )
            btnupload(
              save="save()"
              image="page.imageC"
            )
        .col-md-6
          .biography
            .memory 
              p(
                ng-show="!editing.memory"
              ) {{page.memory}}
              
              text-angular(
                ng-show="editing.memory"
                ng-model="page.memory"
                ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
              )
              
              btnedit(
                save="save()"
                editing="editing.memory"
              )
            
  section(
    
  )
    .container
      .row
        .col-md-12
          div.deckgrid(
            deckgrid
            source="page.carousel" 
            cardTemplateString='<div class="a-card"><img src="" data-ng-src="{{card.image}}"></div>'
          )
          
  section(
    style="background-color: orange"
  )
    .container
      .row
        .col-md-1.left
          i.fa.fa-arrow-left(
            ng-click="previous()"
          )
        .col-md-10
          .image
            btnupload.hero(
              save="save()"
              on-upload="onSlideUpload"
            )
          .slides(
            style="text-align: center"
          )
            img(
              ng-src='{{slide.image}}'
            )
            .btn-circle(
              style="position: relative; right: -20px;"
              uib-tooltip='delete this image'
              ng-click="delete(slide)"
            ) 
              i.fa.fa-trash
              
            h4 {{slide.title}}
            p {{slide.description}}
        .col-md-1.right
          i.fa.i.fa.fa-arrow-right(
            ng-click="next()"
          )
                
  //- section(
  //- )
  //-   .container(
  //-     ng-show="!showEditModal"
  //-   )
  //-     .row
  //-       .col-md-6.col-md-push-3
  //-         .fb-comments(
  //-           data-href="https://developers.facebook.com/docs/plugins/comments#configurator" 
  //-           data-numposts="5"
  //-         )
  //-         
  //- section(
  //-   style="background-color: black; height: 200px; color: white;"
  //- )
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         span Footer
    
  img.portrait(
    ng-src="{{page.banner}}"
    ng-if="page.layouts.main === 0"
  )
  
  button.publish.btn.btn-primary(
    ng-if="!showEditModal && !showPublishModal"
    ng-click="publish()"
  )
    i.fa.fa-star
    | Publish {{page.pet.name}}'s Page
    
  button.edit.btn.btn-warning(
    ng-if="!showEditModal && !showPublishModal"
    ui-sref="page.info"
    ng-click="edit()"
  )
    i.fa.fa-edit
    | Edit
  
edit-modal(
  ng-show="showEditModal"
  current="currentSection"
)

publish-modal(
  ng-show="showPublishModal"
)
