#page(
  ng-class="{'blur': showEditModal}"
)  
  section(
    style="background-size: 400px 400px"
    ng-style="{'background': '#fedc4f url(assets/images/pattern_1.png) 0px 0px/400px 400px repeat'}"
  )
    .container.first(
      style="z-index: 2; position: relative"
    )
      .row(
        ng-if="page.layouts.main === 0"
        style="padding-top: 60px; padding-bottom: 40px;"
      )
        .col-md-6
          .image
            btnupload.hero(
              save="save()"
              image="page.banner"
              ng-show="isEditMode"
            )
          .name
            span(
              ng-show="!editing.name"
            ) {{page.pet.name}}
            input(
              ng-show="editing.name"
              ng-model="page.pet.name"
            )
            btnedit(
              save="save()"
              editing="editing.name"
              ng-show="isEditMode"
            )
            
          .date 
            span(
              ng-show="!editing.date"
            ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
            input(
              ng-show="editing.date"
              ng-model="page.pet.date_of_birth"
            )
            btnedit(
              save="save()"
              editing="editing.date"
              ng-show="isEditMode"
            )
            
          .biography
            p(
              ng-show="!editing.biography"
              ng-bind-html="page.biography"
            )
            text-angular(
              ng-show="editing.biography"
              ng-model="page.biography"
              ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
            )
            btnedit(
              save="save()"
              editing="editing.biography"
              ng-show="isEditMode"
            )
            
        .col-md-6
        
        
      
      .row(
        ng-if="page.layouts.main === 1"
      )
        div(
          style="text-align: center; padding-top: 10px; padding-bottom: 40px;"
        )
          .name(
            style="color: black;"
          ) {{page.pet.name}}
          
          div(
            style="display: inline-block; width: 555px; height: 555px; background-image: url('assets/images/circle.png'); background-size: cover"
          )
            .porthole(
              style="left: 2px; top: 28px; position: relative;"
              ng-style="{'background-image': 'url(' + page.banner + ')'}"
            )
          
          .date(
            style="color: black;"
          ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
          
      .row.c(
        ng-if="page.layouts.main === 2"
      )
        .col-md-6.center
          div(
            style="display: inline-block; width: 555px; height: 555px; background-image: url('assets/images/circle.png'); background-size: cover"
          )
            .porthole(
              style="left: 2px; top: 28px; position: relative;"
              ng-style="{'background-image': 'url(' + page.banner + ')'}"
            )
            
        .col-md-6
          .card
            .name(
              style="color: black;"
            ) {{page.pet.name}}
            
            .date(
              style="color: black;"
            ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
          
            p(
              style="font-size: 20px;"
              ng-show="!editing.biography"
              ng-bind-html="page.biography"
            )
          
      .row.d(
        ng-if="page.layouts.main === 3"
      )
        .col-md-6
          .card
            .name(
              style="color: black;"
            ) {{page.pet.name}}
            
            .date(
              style="color: black;"
            ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
          
            p(
              style="font-size: 20px;"
              ng-show="!editing.biography"
              ng-bind-html="page.biography"
            )
            
        .col-md-6.center
          div(
            style="display: inline-block; width: 555px; height: 555px; background-image: url('assets/images/circle.png'); background-size: cover"
          )
            .porthole(
              style="left: 2px; top: 28px; position: relative;"
              ng-style="{'background-image': 'url(' + page.banner + ')'}"
            )
          
      .layouts(
        style="position: absolute; bottom: 20px; left: 20px; background-color: white;"
        ng-show="isEditMode"
      )
        button(
          style="border: 1px solid black;"
          ng-click="page.layouts.main = 0"
        ) Layout A
        
        button(
          style="border: 1px solid black;"
          ng-click="page.layouts.main = 1"
        ) Layout B
        
        button(
          style="border: 1px solid black;"
          ng-click="page.layouts.main = 2"
        ) Layout C
        
        button(
          style="border: 1px solid black;"
          ng-click="page.layouts.main = 3"
        ) Layout D
          
  //- First Left / Right Section
  section(
    style="position: relative; z-index: 2; background-color: teal; border-top: 1px solid white; border-bottom: 1px solid white;"
  )
    .container-fluid.middle
      .row
        .col-md-7.no-pad
          div(
            style="background-size: cover; height: 400px;"
            ng-style="{'background-image': 'url(' + page.imageA + ')'}"
          )
            btnupload(
              save="save()"
              image="page.imageA"
              ng-show="isEditMode"
            )
            
        .col-md-5.no-pad
          div(
            style="height: 400px; padding: 20px; padding-top: 60px; color: #666666; background-color: #f3f1ef;"
          )
            .title 
              img(
                src="assets/images/diamond.png"
                style="border-radius: 0px; height: 70px; box-shadow: none; border: none; position: relative; top: -10px; margin: 0"
              )
              | More About {{page.pet.name}}...
            
            .content(
              ng-show="!editing.memory"
            ) {{page.memory}}
            
            text-angular(
              ng-show="editing.memory"
              ng-model="page.memory"
              ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
            )
  
  section
    .container-fluid
      .row
        .col-md-3.no-pad
          div(
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageB + ')'}"
          )
          
        .col-md-6.no-pad
          div(
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageC + ')'}"
          )
        
        .col-md-3.no-pad
          div(
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageD + ')'}"
          )
          
            
            
  //- Second Left / Right Section
  section(
    style="position: relative; z-index: 2; background-color: teal; border-top: 1px solid white; border-bottom: 1px solid white;"
  )
    .container-fluid.middle
      .row
        .col-md-5.no-pad
          div(
            style="height: 400px; padding: 20px; padding-top: 60px; color: #666666; background-color: #f3f1ef;"
          )
            .title 
              img(
                src="assets/images/diamond.png"
                style="border-radius: 0px; height: 70px; box-shadow: none; border: none; position: relative; top: -10px; margin: 0"
              )
              | More About {{page.pet.name}}...
            
            .content(
              ng-show="!editing.memory"
            ) {{page.memory}}
            
            text-angular(
              ng-show="editing.memory"
              ng-model="page.memory"
              ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
            )
            
        .col-md-7.no-pad
          div(
            style="background-size: cover; height: 400px;"
            ng-style="{'background-image': 'url(' + page.imageE + ')'}"
          )

            
  section(
    
  )
    .container
      .row
        .col-md-12
          div.deckgrid(
            deckgrid
            source="page.carousel" 
            cardTemplateString='<div class="a-card"><img src="" data-ng-src="{{card.image}}"></div>'
          )
          
  section(
    style="background-color: orange"
  )
    .container
      .row
        .col-md-1.left
          i.fa.fa-arrow-left(
            ng-click="previous()"
          )
        .col-md-10
          .image
            btnupload.hero(
              save="save()"
              on-upload="onSlideUpload"
              ng-show="isEditMode"
            )
          .slides(
            style="text-align: center"
          )
            img(
              ng-src='{{slide.image}}'
            )
            .btn-circle(
              style="position: relative; right: -20px;"
              uib-tooltip='delete this image'
              ng-click="delete(slide)"
              ng-show="isEditMode"
            ) 
              i.fa.fa-trash
              
            h4 {{slide.title}}
            p {{slide.description}}
        .col-md-1.right
          i.fa.i.fa.fa-arrow-right(
            ng-click="next()"
          )
                
  //- section(
  //- )
  //-   .container(
  //-     ng-show="!showEditModal"
  //-   )
  //-     .row
  //-       .col-md-6.col-md-push-3
  //-         .fb-comments(
  //-           data-href="https://developers.facebook.com/docs/plugins/comments#configurator" 
  //-           data-numposts="5"
  //-         )
  //-         
  //- section(
  //-   style="background-color: black; height: 200px; color: white;"
  //- )
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         span Footer
    
  img.portrait(
    ng-src="{{page.banner}}"
    style="z-index: 1;"
    ng-if="page.layouts.main === 0"
  )
  
  button.publish.btn.btn-primary(
    ng-if="!showPublishModal && false"
    style="z-index: 2;"
    ng-click="publish()"
  )
    i.fa.fa-star
    | Publish {{page.pet.name}}'s Page
    
  button.edit.btn.btn-warning(
    style="z-index: 2;"
    ui-sref="page"
    ng-click="edit()"
  )
    i.fa.fa-edit
    | {{isEditMode ? "View" : "Edit"}}
  
publish-modal(
  style="z-index: 5;"
  ng-show="showPublishModal"
)
