#page(
  ng-class="{'blur': showEditModal}"
)  
  section(
    style="background-size: 400px 400px"
    ng-style="{'background': '#fedc4f url(assets/images/pattern_1.png) 0px 0px/400px 400px repeat'}"
  )
    .container.first(
      style="position: relative"
    )
      .row(
        ng-if="page.layouts.main === 0"
        style="padding-top: 60px; padding-bottom: 40px;"
      )
        .col-md-6
          .name(
            style="z-index: 2; position: relative;"
          )
            span(
              ng-class="{'outline': isEditMode}"
              ng-show="!editing.name"
              ng-click="isEditMode && editing.name = true"
            ) {{page.pet.name}}
            input(
              id="name-input"
              ng-show="editing.name"
              ng-model="page.pet.name"
              click-outside="editing.name = false"
            )
            
          .date(
            style="z-index: 2"
          )
            span(
              ng-class="{'outline': isEditMode}"
              ng-show="!editing.date"
              ng-click="isEditMode && editing.date = true"
            ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
            input(
              id="date-input"
              ng-show="editing.date"
              ng-model="page.pet.date_of_birth"
              click-outside="editing.date = false"
            )
            
          .biography(
            style="z-index: 2"
          )
            p(
              ng-class="{'outline': isEditMode}"
              ng-show="!editing.biography"
              ng-bind-html="page.biography"
              ng-click="isEditMode && editing.biography = true"
            )
            text-angular(
              id="biography-input"
              ng-show="editing.biography"
              ng-model="page.biography"
              ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
              click-outside="editing.biography = false"
            )
            
        .col-md-6
        
        
      
      .row(
        ng-if="page.layouts.main === 1"
      )
        div(
          style="text-align: center; padding-top: 10px; padding-bottom: 40px;"
        )
          .name(
            style="color: black;"
          ) {{page.pet.name}}
          
          div(
            style="display: inline-block; width: 555px; height: 555px; background-image: url('assets/images/circle.png'); background-size: cover"
          )
            .porthole(
              ng-class="{'outline': isEditMode}"
              style="left: 2px; top: 28px; position: relative;"
              ng-style="{'background-image': 'url(' + page.banner + ')'}"
              ng-disabled="!isEditMode"
              ngf-select="upload($file, page, 'banner')"
            )
          
          .date(
            style="color: black;"
          ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
          
      .row.c(
        ng-if="page.layouts.main === 2"
      )
        .col-md-6.center
          div(
            style="display: inline-block; width: 555px; height: 555px; background-image: url('assets/images/circle.png'); background-size: cover"
          )
            .porthole(
              ng-class="{'outline': isEditMode}"
              style="left: 2px; top: 28px; position: relative;"
              ng-style="{'background-image': 'url(' + page.banner + ')'}"
              ng-disabled="!isEditMode"
              ngf-select="upload($file, page, 'banner')"
            )
            
        .col-md-6
          .card
            .name(
              style="color: black;"
            ) {{page.pet.name}}
            
            .date(
              style="color: black;"
            ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
          
            p(
              style="font-size: 20px;"
              ng-show="!editing.biography"
              ng-bind-html="page.biography"
            )
          
      .row.d(
        ng-if="page.layouts.main === 3"
      )
        .col-md-6
          .card
            .name(
              style="color: black;"
            ) {{page.pet.name}}
            
            .date(
              style="color: black;"
            ) {{page.pet.date_of_birth | date:'MMM d, yyyy'}} - {{page.pet.date_of_rest | date:'MMM d, yyyy'}}
          
            p(
              style="font-size: 20px;"
              ng-show="!editing.biography"
              ng-bind-html="page.biography"
            )
            
        .col-md-6.center
          div(
            style="display: inline-block; width: 555px; height: 555px; background-image: url('assets/images/circle.png'); background-size: cover"
          )
            .porthole(
              ng-class="{'outline': isEditMode}"
              style="left: 2px; top: 28px; position: relative;"
              ng-style="{'background-image': 'url(' + page.banner + ')'}"
              ng-disabled="!isEditMode"
              ngf-select="upload($file, page, 'banner')"
            )
          
      .layouts(
        style="z-index: 2;"
        ng-show="isEditMode"
      )
        button.outline(
          style="background-image: url('assets/images/Layout1.png')"
          ng-click="page.layouts.main = 0"
          ng-class="{'selected': page.layouts.main === 0}"
        )
        
        button.outline(
          style="background-image: url('assets/images/Layout2.png')"
          ng-click="page.layouts.main = 1"
          ng-class="{'selected': page.layouts.main === 1}"
        )
        
        button.outline(
          style="background-image: url('assets/images/Layout3.png')"
          ng-click="page.layouts.main = 2"
          ng-class="{'selected': page.layouts.main === 2}"
        )
        
        button.outline(
          style="background-image: url('assets/images/Layout4.png')"
          ng-click="page.layouts.main = 3"
          ng-class="{'selected': page.layouts.main === 3}"
        ) 
          
  //- First Left / Right Section
  section(
    style="position: relative; z-index: 2; background-color: teal; border-top: 1px solid white; border-bottom: 1px solid white;"
  )
    .container-fluid.middle
      .row
        .col-md-7.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 400px;"
            ng-style="{'background-image': 'url(' + page.imageA + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageA')"
          )
            
        .col-md-5.no-pad
          div(
            style="height: 400px; padding: 20px; padding-top: 60px; color: #666666; background-color: #f3f1ef;"
          )
            .title(
            )
              img(
                src="assets/images/diamond.png"
                style="border-radius: 0px; height: 70px; box-shadow: none; border: none; position: relative; top: -10px; margin: 0"
              )
              span(
                ng-show="!editing.titleA"
                ng-class="{'outline': isEditMode}"
                ng-click="isEditMode && editing.titleA = true"
              ) {{page.titleA}}
              input(
                id="titleA-input"
                ng-show="editing.titleA"
                ng-model="page.titleA"
                click-outside="editing.titleA = false"
                style="width: 80%;"
              )
            
            .content(
              ng-show="!editing.snippitA"
              ng-class="{'outline': isEditMode}"
              ng-click="isEditMode && editing.snippitA = true"
              ng-bind-html="page.snippitA"
            )
            
            text-angular(
              id="snippitA-input"
              click-outside="editing.snippitA = false"
              ng-show="editing.snippitA"
              ng-model="page.snippitA"
              ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
            )
  
  section
    .container-fluid
      .row
        .col-md-3.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageB + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageB')"
          )
          
        .col-md-6.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageC + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageC')"
          )
        
        .col-md-3.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageD + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageD')"
          )
          
  section.section-story(
    
  )
    .container
      .row
        .col-md-8.col-md-push-2
          div(
            ng-class="{'outline': isEditMode}"
            ng-bind-html="page.story"
            ng-show="!editing.story"
            ng-click="isEditMode && editing.story = true"
          )
          
          text-angular(
            id="story-input"
            click-outside="editing.story = false"
            ng-show="editing.story"
            ng-model="page.story"
            ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
          )
          
  section
    .container-fluid
      .row
        .col-md-3.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageE + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageE')"
          )
          
        .col-md-6.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageF + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageF')"
            
          )
        
        .col-md-3.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 300px;"
            ng-style="{'background-image': 'url(' + page.imageG + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageG')"
          )
          
  //- Second Left / Right Section
  section(
    style="position: relative; z-index: 2; background-color: teal; border-top: 1px solid white; border-bottom: 1px solid white;"
  )
    .container-fluid.middle
      .row
        .col-md-5.no-pad
          div(
            style="height: 400px; padding: 20px; padding-top: 60px; color: #666666; background-color: #f3f1ef;"
          )
            .title(
            )
              img(
                src="assets/images/diamond.png"
                style="border-radius: 0px; height: 70px; box-shadow: none; border: none; position: relative; top: -10px; margin: 0"
              )
              span(
                ng-show="!editing.titleB"
                ng-class="{'outline': isEditMode}"
                ng-click="isEditMode && editing.titleB = true"
              ) {{page.titleB}}
              input(
                id="titleB-input"
                ng-show="editing.titleB"
                ng-model="page.titleB"
                click-outside="editing.titleB = false"
                style="width: 80%;"
              )
          
            .content(
              ng-show="!editing.snippitB"
              ng-class="{'outline': isEditMode}"
              ng-click="isEditMode && editing.snippitB = true"
              ng-bind-html="page.snippitB"
            )
            
            text-angular(
              id="snippitB-input"
              click-outside="editing.snippitB = false"
              ng-show="editing.snippitB"
              ng-model="page.snippitB"
              ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo']]"
            )
            
        .col-md-7.no-pad
          div(
            ng-class="{'outline': isEditMode}"
            style="background-size: cover; height: 400px;"
            ng-style="{'background-image': 'url(' + page.imageH + ')'}"
            ng-disabled="!isEditMode"
            ngf-select="upload($file, page, 'imageH')"
          )

            
  section(
    style="background-color: #3f729b; padding-top: 70px; padding-bottom: 70px"
  )
    .container
      .row
        .col-md-12
          div.deckgrid(
            deckgrid
            source="page.carousel" 
            cardTemplateString='<div ng-disabled="!mother.isEditMode" ngf-select="mother.upload($file, card, \'image\')" ng-class="{outline: mother.isEditMode}" class="a-card"><img src="" data-ng-src="{{card.image}}"></div>'
          )
          
  //- section(
  //- )
  //-   .container(
  //-     ng-show="!showEditModal"
  //-   )
  //-     .row
  //-       .col-md-6.col-md-push-3
  //-         .fb-comments(
  //-           data-href="https://developers.facebook.com/docs/plugins/comments#configurator" 
  //-           data-numposts="5"
  //-         )
  //-         
  //- section(
  //-   style="background-color: black; height: 200px; color: white;"
  //- )
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         span Footer
  
  div.portrait(
    ng-class="{'outline': isEditMode}"
    style="position: absolute; top: 0px; left: 0px; z-index: 1; width: 100%; height: 100%; background-size: cover;"
    ng-style="{'background-image': 'url(' + page.banner + ')'}"
    ng-if="page.layouts.main === 0"
    ng-disabled="!isEditMode"
    ngf-select="upload($file, page, 'banner')"
  )
    //- img(
    //-   ng-src="{{page.banner}}"
    //-   style="z-index: 1;"
    //-   ng-if="page.layouts.main === 0"
    //- )
  
  button.publish.btn.btn-primary(
    ng-if="!showPublishModal"
    ng-click="publish()"
  )
    i.fa.fa-star
    | Publish {{page.pet.name}}'s Page
    
  button.edit.btn.btn-warning(
    ui-sref="page"
    ng-click="edit()"
    ng-class="{'tour-current': currentStep === 1, 'accent': isEditMode}"
  )
    i.fa.fa-edit
    | {{isEditMode ? "Preview" : "Edit"}}
    
  .tour-panel(
    ng-show="currentStep === 1"
  )
    i.fa.fa-caret-up
    span Click Edit when you are ready to edit your generated page
    br
    .center 
      button.btn-primary(
        ng-click="currentStep = 2"
      )
        i.fa.fa-check
        | OK
      
  .tourbg(
    ng-show="currentStep > 0 && currentStep < 2"
  )

  .welcome-modal.fade-out(
    ng-show="showModal"
  )
    .inner
      .top(
        ng-style="{'background-image': 'url(' + page.imageC + ')'}"
      )
      
      .middle
        h2 Welcome to {{page.pet.name}}'s Page!
        
        h3 We generated an example page for you. 
          br
          | Now, you should 
          b update it 
          | with a 
          b biography
          | , 
          b images
          | , and 
          b videos
          | .
        
      .bottom(
        ng-click="hideModal()"
      )
        span customize my page!
