#password_reset
  .container
    .row
      .col-md-12
        h2 We're sorry you're having login trouble
        
        h2 Please fill out the form below and we'll reset your password
        
    .row
      .col-md-12
        form
          input(
            ng-model="user.password"
            placeholder="new password"
            type="password"
          )
          br
          input(
            ng-model="user.repeat"
            placeholder="repeat password"
            type="password"
          )
          br
          button.btn-primary(
            ng-click="reset()"
            type="submit"
          ) Change Password
        
