#pets
  h1 select your pet below
  
  .pet(
    ng-repeat="pet in pets"
    ng-style="{'background-image': 'url(' + pet.banner + ')'}"
    ui-sref="view({id: pet._id})"
  )
    .banner(
      ng-show="!isPublished(pet)"
    )
      .text Not Yet Published
      
    .inner(
      style="padding: 40px;"
    )
    h1 {{pet.name}}
  
