.wrapper
  .content
    .bread-crum-wrapper
      .bread-crum(
        ng-repeat="section in sections"
      )   
        .bubble(
          ng-class="{'filled': section.completed, 'current': $index === current}"
          ng-click="bubbleClicked(section)"
        )
          .text {{$index + 1}}
        .line(
          ng-class="{'completed': section.completed}"
          ng-if="$index < sections.length - 1"
        )
        .title {{section.title}}
        
    div(
      ui-view="section"
    )
    
    .center
      button.back.btn(
        ng-if="current > 0"
        ng-click="save(); back()"
      ) 
        i.fa.fa-chevron-circle-left
        | Go Back
         
      button.next.btn.btn-primary(
        ng-if="current < sections.length - 1"
        ng-click="save(); next()"
      ) 
        i.fa.fa-chevron-circle-right
        | Next Section 
      
