.header(
  scroll-position="scrollPosition"
  ng-class="{'white': scrollPosition > 80}"
)
  
  .navigation
    ul
      li 
        a Features
      li 
        a Pricing
      li 
        a Support
      li 
        a Contact Us
      li 
        a About
      li(
        ng-hide="isLoggedIn()"
      )
        a(
          id="loginBtn"
          ng-click="showLoginModal = true"
        ) Login
      li(
        ng-show="isLoggedIn()"
      )
        a(
          ui-sref="pets"
        ) Dashboard
      
  .logo LOGO
      
    
  //- img(
  //-   src='assets/images/logo.png'
  //- )

.banner
  img(
    src='assets/images/MAIN.jpg'
  )
  
  p.memo
    span.big Loss is Hard
    br
    | Let us help you create a unique website
    br 
    | in remembrance of your 
    span.best best friend.
  
  .signup(
    ng-show="isNewUser"
  )
    input(
      placeholder="Enter your pet's name"
    )
    button(
      ui-sref='page'
    ) Create Your Page
    
  .finish(
    ng-show="!isNewUser"
  )
    button(
      ui-sref='page'
    ) Continue Building Your Page
    
.section-preview
  .tophalf
  
  .z2
    h2 Admire some of our many page styles
    p Each page is easily customizable to match 
      br
      | the personality of your pet
  
  .carousel
    .wrapper
      .item(
        ng-repeat="item in carousel"
        ng-style="{'z-index': getZIndex(item), left: getLeft(item) + 'px', opacity: getOpacity(item), '-ms-transform': getScale(item), '-webkit-transform': getScale(item), 'transform': getScale(item)}"
      )
        img(
          ng-src="{{item.src}}"
        )
    .controls
      button(
        ng-click="moveCarouselRight()"
      ) 
        i.fa.fa-chevron-left 
      button(
        ng-click="moveCarouselLeft()"
      ) 
        i.fa.fa-chevron-right
        
.section-features(
  id="features"
  in-view="animateFeatures($inviewInfo)"
  in-view-options="{offset: [-400, 0, 0, 0]}"
)
  h1
    span.accent Features 
    | in My Dog Lacy..
    
  h3 Your pet has a 
    span.accent personality
    | . You've got the 
    span.accent vision
    | . You've got the
    br
    span.accent memories
    | . Now all you need is a profile to match!
    
  .row
    .col-md-10.col-md-push-1.features
      .col-md-4
        img(
          src="assets/images/monoflat_icons_135.png"
        )
        h3 Quick
          span.accent  Setup
          | .
        h5 Not a designer? Use our 
          br
          | predesigned templates to set 
          be 
          | up your site in minutes!
     
        img(
          src="assets/images/monoflat_icons_41.png"
        )
        h3 Easy
          span.accent  Tweaks
          | .
        h5 Easy to use editor with simple 
          br
          | instructions to tweak and
          br
          | create your website
          
      
      .col-md-4
        img(
          src="assets/images/monoflat_icons_26.png"
        )
        h3 Unique
         span.accent  Designs
         | .
        h5 Variety of beautiful visuals, 
          br 
          | patterns, and textures that 
          br
          | portray your pets fun 
          br 
          | personility
        
        img(
          src="assets/images/monoflat_icons_128.png"
        )
        h3 Drag 'N'
          span.accent  Drop
          | .
        h5 Drag and Drop your pet's 
          br
          | images and videos in our 
          br
          | customizable layouts
      
      .col-md-4
        img(
          src="assets/images/monoflat_icons_224.png"
        )
        h3 Scrap In
         span.accent  Memories
         | .
        h5 Write about your memories 
          br
          | and exciting things you've 
          br
          | done with your pet
        
        img(
          src="assets/images/monoflat_icons_55.png"
        )
        h3 Meet
          span.accent  Lacers
          | .
        h5 Meet our Lacers, get inspired 
          br 
          | by their stories and share your 
          br
          | similar experiences
  
.section-other
  .row
    .col-md-10.col-md-push-1
      .col-md-6.left
        h1 Check Out Other
          br
          span.accent Lacer's Profiles!
          
        h3 View what other pet owners have
          br
          | created with their profiles and inspiration
          br 
          | to get yours started!
          
      .col-md-6  
        img(
          src="assets/images/yellow.png"
        )
        
.section-faq
  .row
    .col-md-8.col-md-push-2
      .col-md-12
        h1 
          span.accent F
          | requently 
          span.accent A
          | sked 
          span.accent Q
          | uestions
          
      .col-md-6
        ul
          li WHY ARE MANHOLE COVERS ROUND?
          li WHY ARE MANHOLE COVERS ROUND?
          li WHY ARE MANHOLE COVERS ROUND?
      
      .col-md-6
        ul
          li WHY ARE MANHOLE COVERS ROUND?
          li WHY ARE MANHOLE COVERS ROUND?
          li WHY ARE MANHOLE COVERS ROUND?
      
.section-capture
  .row
    .col-md-12
      img(
        src="assets/images/045_brand_128.png"
      )
      h1 Capture your memories
      h3 Start making memories with your best friend
        br 
        | and sharing them with your friends!
        
      button(
        
      ) Create My Page
      
.login-modal(
  ng-show="showLoginModal"
  ng-class="{'fade-in': showLoginModal}"
)
  .inner(
    id="loginInner"
    click-outside="showLoginModal = false"
    outside-if-not="loginBtn"
  )
    .top
    .middle
      h2 Please log in below
      input(
        placeholder="email"
        ng-model="user.email"
      )
      br
      input(
        placeholder="password"
        type="password"
        ng-model="user.password"
      )
      br
      button.btn-primary(
        ng-click="login()"
      ) Login
      br
      h3(
        style="color: red"
      ) {{loginError}}
    .bottom
